@page "/dqt/date-of-birth"
@model TeacherIdentityServer.Pages.SignIn.QualifiedTeacher.DateOfBirthModel
@{
    ViewBag.Title = "Your date of birth";
}

<form action="@Url.QualifiedTeacherDateOfBirth()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <govuk-date-input asp-for="DateOfBirth">
        <govuk-date-input-fieldset>
          <govuk-date-input-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--xl">
            Your date of birth
          </govuk-date-input-fieldset-legend>
          <govuk-date-input-hint>For example, 27 3 1987</govuk-date-input-hint>
          <govuk-date-input-day autocomplete="bday-day"/>
          <govuk-date-input-month autocomplete="bday-month"/>
          <govuk-date-input-year autocomplete="bday-year"/>
        </govuk-date-input-fieldset>
      </govuk-date-input>

      <govuk-button type="submit">Continue</govuk-button>
    </div>
  </div>
</form>
