@page "/dqt/have-qts"
@model TeacherIdentityServer.Pages.SignIn.QualifiedTeacher.HaveQtsModel
@{
    ViewBag.Title = "Have you been awarded qualified teacher status (QTS)?";
}

<form action="@Url.QualifiedTeacherHaveQts()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <govuk-radios asp-for="HaveYouBeenAwardedQts">
        <govuk-radios-fieldset>
          <govuk-radios-fieldset-legend class="govuk-fieldset__legend--xl" is-page-heading="true">
            Have you been awarded qualified teacher status (QTS)?
          </govuk-radios-fieldset-legend>
          <govuk-radios-item value="@true">Yes</govuk-radios-item>
          <govuk-radios-item value="@false">No, I was awarded QTS another way</govuk-radios-item>
        </govuk-radios-fieldset>
      </govuk-radios>

      <govuk-button type="submit">Continue</govuk-button>
    </div>
  </div>
</form>
