@page "/dqt/how-qts"
@model TeacherIdentityServer.Pages.SignIn.QualifiedTeacher.HowQtsModel
@{
    ViewBag.Title = "Did a university, SCITT or school award your QTS?";
}

<form action="@Url.QualifiedTeacherHowQts()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <govuk-radios asp-for="DidAUniversityScittOrSchoolAwardYourQts">
        <govuk-radios-fieldset>
          <govuk-radios-fieldset-legend class="govuk-fieldset__legend--xl" is-page-heading="true">
            Did a university, SCITT or school award your QTS?
          </govuk-radios-fieldset-legend>
          <govuk-radios-item value="@true">
            Yes
            <govuk-radios-item-conditional>
              <govuk-input asp-for="WhereDidYouGetYourQts">
                <govuk-input-label class="govuk-label--s"/>
              </govuk-input>
            </govuk-radios-item-conditional>
          </govuk-radios-item>
          <govuk-radios-item value="@false">No</govuk-radios-item>
        </govuk-radios-fieldset>
      </govuk-radios>

      <govuk-button type="submit">Continue</govuk-button>
    </div>
  </div>
</form>
