@page "/dqt/trn-known"
@model TeacherIdentityServer.Pages.SignIn.QualifiedTeacher.TrnModel
@{
    ViewBag.Title = "Do you know your teacher reference number (TRN)?";
}

<form action="@Url.QualifiedTeacherTrn()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Do you know your teacher reference number (TRN)?</h1>

      <p class="govuk-body">Your TRN is 7 digits long, for example 4567814.</p>

      <p class="govuk-body">It might include the letters RP and a slash, for example RP99/12345</p>

      <p class="govuk-body govuk-!-margin-bottom-7">It’s previously been known as a QTS, GTC, DfE, DfES and DCSF number.</p>

      <govuk-radios asp-for="DoYouKnowYourTrn">
        <govuk-radios-fieldset>
          <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m">Do you know your TRN?</govuk-radios-fieldset-legend>
          <govuk-radios-item value="@true">
            Yes, I know my TRN
            <govuk-radios-item-conditional>
              <govuk-input asp-for="WhatIsYourTrn">
                <govuk-input-label class="govuk-label--s"/>
              </govuk-input>
            </govuk-radios-item-conditional>
          </govuk-radios-item>
          <govuk-radios-item value="@false">No, I need to continue without my TRN</govuk-radios-item>
        </govuk-radios-fieldset>
      </govuk-radios>

      <govuk-button type="submit">Continue</govuk-button>
    </div>
  </div>
</form>
