<p>Try again later if you would like to sign in or set up a DfE Identity account.</p>
<p>You can still <a href="https://www.gov.uk/government/collections/additional-payments-for-teaching-eligibility-and-payment-details">check if you’re eligible for any additional payments and apply for them</a>.</p>
