@{
    ViewBag.Title = "Sorry, there is a problem with the DfE Identity service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <vc:client-scoped-partial view-name="_Error.{0}" />
    </div>
</div>
