@page "/name"
@model TeacherIdentityServer.Pages.SignIn.NameModel
@{
    ViewBag.Title = "Your name";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form method="@Url.Name()" method="post" asp-antiforgery="true">
      <h1 class="govuk-label--xl">Your name</h1>

      <govuk-input asp-for="FirstName"/>

      <govuk-input asp-for="LastName"/>

      <govuk-button type="submit">Continue</govuk-button>
    </form>
  </div>
</div>
