@{
    ViewBag.ServiceName = "Get an identity admin";
    ViewBag.ServiceUrl = "/admin";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section HeaderNav {
  <ul id="navigation" class="govuk-header__navigation-list">
    <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
      <a class="govuk-header__link" asp-page="Staff">
        Staff
      </a>
    </li>
  </ul>
}

@section BeforeContent {
  @RenderSection("BeforeContent", required: false)
}

@RenderBody()
