@page "/admin/user-imports/new"
@model TeacherIdentity.AuthServer.Pages.Admin.AddUserImportModel
@{
    ViewBag.Title = "Import Users";
}

@section BeforeContent {
        <govuk-back-link asp-page="UserImports" />
}

<form asp-page="AddUserImport" method="post" enctype="multipart/form-data">
    <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

    <govuk-file-upload asp-for="Upload" input-accept=".csv">
        <govuk-file-upload-label>Upload a CSV file</govuk-file-upload-label>
    </govuk-file-upload>

    <govuk-button type="submit">Import</govuk-button>
</form>
