@page "/update-email"
@model TeacherIdentity.AuthServer.Pages.Authenticated.UpdateEmail.IndexModel
@{
    ViewBag.Title = "Change your email address";

    var safeCancelUrl = !string.IsNullOrEmpty(Model.CancelUrl) && Url.IsLocalUrl(Model.CancelUrl) ?
        Model.CancelUrl :
        "/";
}

@section BeforeContent {
    <govuk-back-link href="@safeCancelUrl" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.UpdateEmail(Model.ReturnUrl, Model.CancelUrl)" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

            <p>You’ll receive a code by email to confirm your email address.</p>

            <govuk-input asp-for="Email" type="email" autocomplete="email">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <div class="govuk-button-group">
                <govuk-button prevent-double-click="true" type="submit">Continue</govuk-button>
                <govuk-button-link href="@safeCancelUrl" class="govuk-button--secondary">Cancel changes</govuk-button-link>
            </div>
        </form>
    </div>
</div>
