@page "/sign-in/elevate/landing"
@inject IConfiguration Configuration
@model TeacherIdentity.AuthServer.Pages.SignIn.Elevate.Landing
@{
    ViewBag.Title = "You need to give more information";
}

<div class="govuk-panel app-panel--interruption" data-testid="landing-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" data-testid="landing-content">
            <form action="@LinkGenerator.ElevateLanding()" method="post" asp-antiforgery="true">
                <h1 class="govuk-heading-l">@ViewBag.Title</h1>

                <p>You’ve signed in to your DfE Identity account.</p>

                <p>To @Model.ClientDisplayName using your account, you need to give your:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>National Insurance number</li>
                    <li>teacher reference number (TRN)</li>
                </ul>

                @if (Model.TrnRequirementType == TrnRequirementType.Required)
                {
                    <p data-testid="trn-required-message">
                        If you cannot give this information, you will not be able to access your teaching qualifications.
                        Email <a href="mailto:@(Configuration["SupportEmail"])">@(Configuration["SupportEmail"])</a> for help.
                    </p>
                }

                <govuk-button type="submit" class="app-button--inverse govuk-!-margin-0">Continue</govuk-button>
            </form>
        </div>
    </div>
</div>
