@page "/account/official-date-of-birth/evidence"
@using TeacherIdentity.AuthServer.Pages.Account
@model TeacherIdentity.AuthServer.Pages.Account.OfficialDateOfBirth.Evidence
@{
    ViewBag.Title = "Provide your evidence";
}

@section BeforeContent
{
    <govuk-back-link href="@LinkGenerator.AccountOfficialDateOfBirthDetails((DateOnly)Model.DateOfBirth!, fileName: null, fileId: null, fromConfirmPage: false, Model.ClientRedirectInfo)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AccountOfficialDateOfBirthEvidence((DateOnly)Model.DateOfBirth!, Model.ClientRedirectInfo)" method="post" enctype="multipart/form-data" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>Your evidence must be in pdf or jpeg format and be a photo of scan of 1 of the following:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>birth certificate</li>
                <li>valid passport</li>
                <li>valid driving licence</li>
            </ul>

            <p>Your scan must be readable and smaller than @BaseEvidencePage.MaxFileSizeMb MB.</p>

            <govuk-file-upload asp-for="EvidenceFile" input-accept=".pdf, .jpg, .jpeg">
                <govuk-file-upload-label>Upload a file</govuk-file-upload-label>
            </govuk-file-upload>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

