@{
    ViewData["Title"] = "You cannot access this service yet";

    var user = Model.FirstTimeSignInForEmail ? "first-time-user" : "known-user";
}

<govuk-panel class="app-panel--interruption" data-testid="@user-content">
    <govuk-panel-title><span data-testid="@user-postsigninmessage"></span>@ViewBag.Title</govuk-panel-title>

    <govuk-panel-body>
        <p>This could be because you do not have teaching qualifications, for example, qualified teacher status (QTS).</p>
        <h2 class="govuk-heading-s">Your DfE Identity account</h2>
        @if (Model.FirstTimeSignInForEmail)
        {
            <p>You’ve created a DfE Identity account. When you’re eligible to use this service, you can sign in just using your email @Model.Email.</p>
        }
        else
        {
            <p>You’ve signed in to your DfE Identity account. When you’re eligible to use this service, you can sign in just using your email @Model.Email.</p>
        }
    </govuk-panel-body>
</govuk-panel>


