<p>Before you register for an NPQ, we’ll ask you for a few details to find you in our records.</p>

<p>We’ll ask for your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>date of birth</li>
  <li>National Insurance number, if you have one</li>
</ul>

<p class="govuk-!-margin-bottom-6">We may also ask some follow-up questions.</p>
