<p>We’ll ask for your:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>name</li>
    <li>date of birth</li>
    <li>National Insurance number, if you have one</li>
    <li>teacher reference number (TRN)</li>
</ul>

<p class="govuk-!-margin-bottom-6">
    If you do not have your TRN or National Insurance number available, we may ask some follow-up questions.
</p>
