@page "/sign-in/blocked"
@inject IConfiguration Configuration
@model TeacherIdentity.AuthServer.Pages.SignIn.BlockedModel
@{
    ViewBag.Title = $"You cannot {Model.ClientName}";

    var supportEmail = Configuration.GetValue<string>("SupportEmail");
}

<div class="govuk-panel app-panel--interruption" data-testid="landing-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>
                Email <a href="mailto:@supportEmail">@supportEmail</a> with your:
                <ul class="govuk-list--bullet">
                    <li>first and last name</li>
                    <li>teacher reference number (TRN)</li>
                    <li>National Insurance number</li>
                    <li>valid photo ID (for example, a driving licence or passport)</li>
                </ul>
            </p>

            <p>
                Once we’ve verified your details, we’ll give you access to the service.
            </p>
        </div>
    </div>
</div>
