@page "/sign-in/email"
@model TeacherIdentity.AuthServer.Pages.SignIn.EmailModel
@{
    ViewBag.Title = "Your email address";
}

@if (Model.BackLink is not null)
{
    @section BeforeContent {
        <govuk-back-link href="@Model.BackLink">Back</govuk-back-link>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.Email()" method="post" asp-antiforgery="true">
            <govuk-input asp-for="Email" type="email" autocomplete="email">
                <govuk-input-label class="govuk-label--l" />
            </govuk-input>
            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
