@page "/email"
@model TeacherIdentity.AuthServer.Pages.SignIn.EmailModel
@{
    ViewBag.Title = "Your email address";
}

<form action="@Url.Email()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <govuk-input asp-for="Email" type="email" autocomplete="email">
        <govuk-input-label class="govuk-label--xl" is-page-header="true" />
      </govuk-input>

      <govuk-button type="submit">Continue</govuk-button>
    </div>
  </div>
</form>
