@page "/sign-in/trn/resend-email-confirmation"
@model TeacherIdentity.AuthServer.Pages.SignIn.ResendTrnOwnerEmailConfirmationModel
@{
    ViewBag.Title = "Request a new security code";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.TrnInUse()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.ResendTrnOwnerEmailConfirmation()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-xl">Request a new security code</h1>

            <p>Emails sometimes take a few minutes to arrive. If you do not receive the email, you can request a new one.</p>

            <govuk-button type="submit">Request a new code</govuk-button>
        </form>
    </div>
</div>
