@page "/sign-in/resend-email-confirmation"
@model TeacherIdentity.AuthServer.Pages.SignIn.ResendEmailConfirmationModel
@{
    ViewBag.Title = "Request a new security code";
}

<form action="@Url.ResendEmailConfirmation()" method="post" asp-antiforgery="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Request a new security code</h1>

      <p>Emails sometimes take a few minutes to arrive. If you do not receive the email, you can request a new one.</p>

      <govuk-details open="@(!ModelState.IsValid)">
        <govuk-details-summary>Change where the email is sent</govuk-details-summary>
        <govuk-details-text>
          <govuk-input asp-for="Email" type="email" autocomplete="email" />
        </govuk-details-text>
      </govuk-details>

      <govuk-button type="submit">Request a new code</govuk-button>
    </div>
  </div>
</form>
