@page "/sign-in/trn/different-email-cannot-access"
@model TeacherIdentity.AuthServer.Pages.SignIn.TrnInUseCannotAccessEmailModel
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Change the email address for your Dfe Identity account";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.TrnInUse()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">@ViewBag.Title</h1>
        <p>
            You can change the email address for your Dfe Identity account to one which you can access.
        </p>
        <p>
            Send an email to <a href='mailto:@(Configuration["SupportEmail"])'>@(Configuration["SupportEmail"])</a> with your:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>current email address for your Dfe Identity account</li>
            <li>new email address which you can access</li>
            <li>teacher reference number (TRN)</li>
            <li>date of birth</li>
        </ul>

        <h2 class="govuk-heading-m">Your current email address</h2>
        <p>
            The current email address for your account is:
        </p>

        <govuk-inset-text data-testid="Email">@Redactor.RedactEmail(Model.Email)</govuk-inset-text>
        <p>
            The full address is not shown for security reasons. Give the full address if you know it.
        </p>


        <h2 class="govuk-heading-m">If you do not know your TRN</h2>
        <p>
            You can <a href="https://find-a-lost-trn.education.gov.uk">find a lost TRN</a> if you do not know it.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>
            The Teaching Regulation Agency will contact you once your Dfe Identity account has been updated with the new email address.
        </p>
    </div>
</div>
