@use '../lib/govuk-frontend/govuk/all.scss';
@import '../lib/govuk-frontend/govuk/_base.scss';
@import '../lib/govuk-frontend/govuk/settings/measurements.scss';
@import './_summary-card.scss';

a {
  @extend %govuk-link;
}

p {
  @extend .govuk-body;
}

.app-panel--interruption {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  text-align: left;

  p,
  .govuk-heading-m,
  .govuk-list,
  .govuk-body,
  .govuk-label,
  .govuk-fieldset__legend,
  .govuk-hint {
    color: govuk-colour("white");
  }

  p {
    margin-bottom: 20px;
  }

  .govuk-heading-m {
    padding-top: 10px;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .govuk-radios__label::before,
  & ::after {
    color: govuk-colour("black");
    border-color: govuk-colour("black");
    background-color: govuk-colour("white");
  }

  @include govuk-media-query(desktop) {
    > * {
      width: map_get($govuk-grid-widths, two-thirds);
    }
  }
}

$app-button-shadow-size: $govuk-border-width-form-element;
$app-button-inverse-background-colour: govuk-colour("white");
$app-button-inverse-foreground-colour: $govuk-brand-colour;
$app-button-inverse-shadow-colour: govuk-shade($app-button-inverse-foreground-colour, 30%);
$app-button-inverse-hover-background-colour: govuk-tint($app-button-inverse-foreground-colour, 90%);

.app-button--inverse,
.app-button--inverse:link,
.app-button--inverse:visited {
  color: $app-button-inverse-foreground-colour;
  background-color: $app-button-inverse-background-colour;
  box-shadow: 0 $app-button-shadow-size 0 $app-button-inverse-shadow-colour;
}

.app-button--inverse:hover {
  color: $app-button-inverse-foreground-colour;
  background-color: $app-button-inverse-hover-background-colour;
}

.app-button--inverse:focus:not(:hover) {
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
}

.app-button--inverse:active,
.app-button--inverse:focus {
  border-color: $govuk-focus-colour;
  color: $app-button-inverse-foreground-colour;
  background-color: $app-button-inverse-hover-background-colour;
  box-shadow: inset 0 0 0 2px $govuk-focus-colour;
}

.empty-hyphens {
  hyphenate-character: '';
}

.moj-filter-layout {
  @include govuk-clearfix;
}

.moj-filter-layout__filter {
  box-shadow: inset 0 0 0 1px govuk-colour("light-grey"); // Extends the inset border left full height of the filters on mobile

  @include govuk-media-query($until: desktop) {
    margin-bottom: 20px;
  }

  @include govuk-media-query(desktop) {
    float: left;
    margin-right: govuk-spacing(7);
    width: 260px;
  }
}

.moj-filter {
  background-color: govuk-colour("white");
  box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");

  &:focus {
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  }
}

.moj-filter__header {
  background-color: govuk-colour("mid-grey");
  font-size: 0; // Hide whitespace between elements
  padding: govuk-spacing(2) govuk-spacing(4);
  text-align: justify; // Trick to remove the need for floats

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  [class^=govuk-heading-] {
    margin-bottom: 0;
  }
}

.moj-filter__header-title,
.moj-filter__header-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.moj-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
}

.moj-filter__options {
  box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
  margin-top: -1px;
  padding: govuk-spacing(4);

  div:last-of-type {
    margin-bottom: 0; // IE9 +
  }
}

.gai-\!-border-bottom-0 {
  border-bottom: 0 !important;
}

.gai-banner-bar {
  padding-left: 5px;
  background-color: #F3F2F1;
}
