<form asp-action="Profile" method="get">
    <govuk-input name="scope" value="email openid profile trn" input-class="govuk-input--width-20">
        <govuk-input-label>Scope</govuk-input-label>
    </govuk-input>

    <govuk-button type="submit">My profile</govuk-button>
</form>
