@page "/admin/users/{userId}/assign-trn"
@model TeacherIdentity.AuthServer.Pages.Admin.AssignTrn.TrnModel
@{
    ViewBag.Title = "What is their TRN?";
}

@section BeforeContent {
    <govuk-back-link asp-page="/Admin/User" asp-route-userId="@Model.UserId" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-page="Trn" asp-route-userId="@Model.UserId">
            <govuk-input asp-for="Trn">
                <govuk-input-label class="govuk-label--l" />
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
