.app-panel--interruption {
  background-color: #1d70b8 !important;
  color: #fff;
  text-align: left !important;
}

.app-panel--interruption h2,
.app-panel--interruption h3,
.app-panel--interruption h4,
.app-panel--interruption p,
.app-panel--interruption .govuk-list,
.app-panel--interruption .govuk-body,
.app-panel--interruption .govuk-label,
.app-panel--interruption .govuk-fieldset__legend,
.app-panel--interruption .govuk-hint {
  color: #fff !important;
}

.app-panel--interruption a:not(:focus) {
  color: inherit;
}

.app-panel--interruption:last-child {
  margin-bottom: 0 !important;
}

.app-button--inverse,
.app-button--inverse:link,
.app-button--inverse:visited {
  color: #1d70b8 !important;
  background-color: #fff !important;
  box-shadow: 0 2px 0 0 2px 0 #144e81 !important;
}

.app-button--inverse:hover {
  color: #1d70b8 !important;
  background-color: #e8f1f8 !important;
}

.app-button--inverse:focus:not(:hover) {
  color: #0b0c0c !important;
  background-color: #ffdd00 !important;
}

.app-button--inverse:active,
.app-button--inverse:focus {
  border-color: #ffdd00 !important;
  color: #1d70b8 !important;
  background-color: #e8f1f8 !important;
  box-shadow: inset 0 0 0 2px #ffdd00 !important;
}
