@page "/admin/users/{userId}/merge"
@model TeacherIdentity.AuthServer.Pages.Admin.MergeUser.Merge
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.UserIdToMerge);
}

@section BeforeContent {
    <govuk-back-link asp-page="/Admin/User" asp-route-userId="@Model.UserId" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form asp-page="MergeUser" asp-route-userId="@Model.UserId">
            <govuk-input asp-for="UserIdToMerge" input-class="govuk-input--width-20">
                <govuk-input-label is-page-heading="true" class="govuk-label--l">
                    <h1 class="govuk-heading-l">@ViewBag.Title</h1>
                </govuk-input-label>
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
