@page "/account/official-name/details"
@model TeacherIdentity.AuthServer.Pages.Account.OfficialName.Details
@{
    ViewBag.Title = "Official name";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.AccountOfficialName(Model.ClientRedirectInfo)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.AccountOfficialNameDetails(Model.FileName, Model.MiddleName, Model.LastName, Model.FileName, Model.FileId, Model.PreferredName, Model.FromConfirmPage, Model.ClientRedirectInfo)" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>Tell us what you would like to change your name to.</p>

            <govuk-input asp-for="FirstName" spellcheck="false" autocomplete="given-name">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <govuk-input asp-for="MiddleName" spellcheck="false" autocomplete="additional-name">
                <govuk-input-label class="govuk-label--s" />
            </govuk-input>

            <govuk-input asp-for="LastName" spellcheck="false" autocomplete="family-name">
                <govuk-input-label class="govuk-label--s"/>
            </govuk-input>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>
