@page "/sign-in/register/email-exists"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.EmailExists
@{
    ViewBag.Title = "Sign in to your DfE Identity account";
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterEmailExists()" method="post" asp-antiforgery="true">
             <h1 class="govuk-heading-l">@ViewBag.Title</h1>

            <p>We’ve found a DfE Identity account for email (@Model.Email)</p>

            <govuk-button type="submit">Sign in</govuk-button>
        </form>
    </div>
</div>
