@page "/sign-in/register/has-nino"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.HasNiNumberPage
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.HasNiNumber);
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.TrnDateOfBirth()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnHasNiNumber()" method="post" asp-antiforgery="true">
            <govuk-radios asp-for="HasNiNumber">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--xl"/>

                    <govuk-radios-item value="True">Yes</govuk-radios-item>
                    <govuk-radios-item value="False">No</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

