@page "/sign-in/register/ni-number"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.NiNumberPage
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.NiNumber);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterNiNumber()" method="post" asp-antiforgery="true">
            <govuk-input asp-for="NiNumber" input-class="govuk-input--width-10 govuk-input--extra-letter-spacing">
                <govuk-input-label is-page-heading="true" class="govuk-label--l"/>
            </govuk-input>

            @* Pressing the Enter key will submit the first submit button - make sure it's the default action *@
            <button type="submit" class="govuk-!-display-none"></button>

            <govuk-details>
                <govuk-details-summary>
                    @(Model.TrnMatchPolicy == TrnMatchPolicy.Strict ? "I cannot provide my National Insurance number" : "I do not know my National Insurance number")
                </govuk-details-summary>
                <govuk-details-text>
                    <p>You can <a href="https://www.gov.uk/lost-national-insurance-number" rel="noreferrer noopener" target="_blank">find a lost National Insurance number (opens in new tab)</a>.</p>
                    <p>@(Model.TrnMatchPolicy == TrnMatchPolicy.Strict ? "If you do not have a National Insurance number you can continue without it." : "Or you can continue without it, but we are less likely to find your TRN.")</p>
                    <govuk-button type="submit" class="govuk-button--secondary" name="submit" value="ni_number_not_known">
                        Continue without it
                    </govuk-button>
                </govuk-details-text>
            </govuk-details>

            <govuk-button type="submit" name="submit" value="submit">Continue</govuk-button>
        </form>
    </div>
</div>
