@page "/sign-in/register/resend-existing-account-phone"
@model TeacherIdentity.AuthServer.Pages.SignIn.Register.ResendExistingAccountPhone
@{
    ViewBag.Title = "Request a mobile security code";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.RegisterExistingAccountPhoneConfirmation()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.RegisterResendExistingAccountPhone()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-xl">Request security code to your mobile phone</h1>

            <p>We’ll send text message to <b>@Redactor.RedactMobileNumber(Model.ExistingMobileNumber!)</b> which contains a security code</p>

            <p><a href="@LinkGenerator.RegisterChangeEmailRequest()">I can’t access this mobile number</a></p>

            <govuk-button type="submit">Request security code</govuk-button>
        </form>
    </div>
</div>
