@page "/FindALostTrn"
@model TeacherIdentity.AuthServer.Pages.StubFindALostTrn.IndexModel
@addTagHelper *, Joonasw.AspNetCore.SecurityHeaders

@if (!Model.IsCallback)
{
  <form action="@(PageContext.HttpContext.Request.Path + PageContext.HttpContext.Request.QueryString)" method="post" asp-antiforgery="true">
    <h1 class="govuk-heading-xl">STUB Find a lost TRN</h1>

    <govuk-input asp-for="Email" type="email" input-class="govuk-input--width-20" />

    <govuk-input asp-for="FirstName" input-class="govuk-input--width-20" />

    <govuk-input asp-for="LastName" input-class="govuk-input--width-20" />

    <govuk-date-input asp-for="DateOfBirth" />

    <govuk-input asp-for="Trn" input-class="govuk-input--width-10" />

    <govuk-button type="submit">Continue</govuk-button>
  </form>
}
else
{
  <form action="@Model.RedirectUri" method="post" asp-antiforgery="false" name="callbackform">
    <input type="hidden" name="user" value="@Model.UserJwt" />
  </form>

  <script type="text/javascript" asp-add-nonce="true">
    document.forms['callbackform'].submit();
  </script>
}
