@page "/sign-in/trn/has-trn"
@model TeacherIdentity.AuthServer.Pages.SignIn.Trn.HasTrnPage
@{
    ViewBag.Title = "Do you know your teacher reference number (TRN)?";
}

@section BeforeContent {
    <govuk-back-link href="@LinkGenerator.TrnDateOfBirth()" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnHasTrn()" method="post" asp-antiforgery="true">
            <h1 class="govuk-heading-xl">@ViewBag.Title</h1>

            <p>Your TRN is 7 digits long, for example 4567814.</p>
            <p>It might include the letters RP and a slash, for example RP99/12345</p>
            <p>It’s previously been known as a QTS, GTC, DfE, DfES and DCSF number.</p>

            <govuk-radios asp-for="HasTrn">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend class="govuk-fieldset__legend--m"/>
                    <govuk-radios-item value="True">Yes, I know my TRN
                        <govuk-radios-item-conditional>
                            <govuk-input asp-for="StatedTrn" spellcheck="false">
                                <govuk-input-label class="govuk-label--s"/>
                            </govuk-input>
                        </govuk-radios-item-conditional>
                    </govuk-radios-item>
                    <govuk-radios-item value="False">No, I need to continue without my TRN</govuk-radios-item>
                </govuk-radios-fieldset>
            </govuk-radios>

            <govuk-button type="submit">Continue</govuk-button>
        </form>
    </div>
</div>

