@page "/sign-in/trn/ni-number"
@model TeacherIdentity.AuthServer.Pages.SignIn.Trn.NiNumberPage
@{
    ViewBag.Title = Html.DisplayNameFor(m => m.NiNumber);
}

@section BeforeContent {
    <govuk-back-link href="@Model.BackLink" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <form action="@LinkGenerator.TrnNiNumber()" method="post" asp-antiforgery="true">
            <govuk-input asp-for="NiNumber" input-class="govuk-input--width-10">
                <govuk-input-label is-page-heading="true" class="govuk-label--l"/>
            </govuk-input>

            <govuk-button type="submit" class="govuk-visually-hidden" name="submit" value="hidden_submit"/>

            <govuk-details>
                <govuk-details-summary>I don’t know my National Insurance number</govuk-details-summary>
                <govuk-details-text>
                    <p>You can <a href="https://www.gov.uk/lost-national-insurance-number" rel="noreferrer noopener" target="_blank">find a lost National Insurance number</a>.</p>
                    <p>Or you can continue without it, but we are less likely to find your TRN.</p>
                    <govuk-button type="submit" class="govuk-button--secondary" name="submit" value="ni_number_not_known">
                        Continue without it
                    </govuk-button>
                </govuk-details-text>
            </govuk-details>

            <govuk-button type="submit" name="submit" value="submit">Continue</govuk-button>
        </form>
    </div>
</div>

